<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Polyline Util</title>
<style type="text/css">
body{
     background-image: url( static/img/bg4.jpg );
}
#textboxid
{
    height:100px;
    font-size:14pt;
	cols:10;
	rows:5;
}
.sub{
  font-size: 20px;
}
</style>
  </head>
  <body>
<div>
  <form action="/decode" method="post">
 <h1 class="text1" >Enter Polyline or Latlongs: </h1>
<h2>Latlongs can be given as ';' separated or ' ' separated  as 1,2;3,4 or 1,2 3,4 </h2>
<input type="text"  id="textboxid" name="textboxid" placeholder="There u go!">
<br>
<br>
  <button type="submit" class="sub">Submit</button>
  </form>
  </body>
</html>